h2 > a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 > a > span {
    margin-left: 1rem;
}

header {
    position: sticky;
}

.logo .light-img, .logo .dark-img {
    width: 200px;
    height: auto !important;
}