@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
--container-8xl: 100%;
}

:root {
--ui-container: var(--container-8xl);
}

.text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
}